
<nav class="navbar is-white">
  <div class="pl-3">
    <div class="navbar-brand">
      <p class="navbar-item brand-text">
        ADMINT
      </p>
</nav>

  <div class="columns is-fullheight">
    <div class="column is-2 p-5">
      <aside class="menu is-hidden-mobile">

        <ul class="menu-list">
        </ul>


      </aside>
    </div>
    <div class="column is-10 pl-4 pr-4">
    </div>
  </div>

